[submodule "src/SLAM/octomap_mapping"]
	path = src/SLAM/octomap_mapping
	url = https://github.com/OctoMap/octomap_mapping.git
[submodule "src/SLAM/octomap_ros"]
	path = src/SLAM/octomap_ros
	url = https://github.com/OctoMap/octomap_ros
	branch = melodic-devel
[submodule "src/SLAM/hdl_dependencies/ndt_omp"]
	path = src/SLAM/hdl_dependencies/ndt_omp
	url = https://github.com/koide3/ndt_omp.git
	branch=melodic
[submodule "src/SLAM/hdl_dependencies/fast_gicp"]
	path = src/SLAM/hdl_dependencies/fast_gicp
	url = https://github.com/SMRT-AIST/fast_gicp.git
[submodule "src/SLAM/hdl_dependencies/geographic_info"]
	path = src/SLAM/hdl_dependencies/geographic_info
	url = https://github.com/ros-geographic-info/geographic_info.git
[submodule "src/SLAM/pointcloud_to_laserscan"]
	path = src/SLAM/pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
	branch=lunar-devel
[submodule "src/data_fusion/velodyne"]
	path = src/data_fusion/velodyne
	url = https://github.com/ros-drivers/velodyne.git
	branch=melodic-devel
[submodule "src/ouster-ros"]
	path = src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
[submodule "src/data_fusion/r3live"]
	path = src/data_fusion/r3live
	url = https://github.com/hku-mars/r3live.git
