<?xml version="1.0"?>
<launch>
    <include file="$(find ouster_ros)/launch/sensor.launch">
        <arg name="viz" value="true"/>
        <!-- <arg name="ouster_ns" value="ouster"/> -->
        <arg name="sensor_hostname" value="os-122138000087.local"/>
        <arg name="lidar_mode" value="1024x10"/>
    </include>

    <include file="$(find ptu_control)/launch/camera.launch"/>
</launch>