<?xml version="1.0"?>
<launch>
    <arg name="launch_rviz" default="true"/>
    <arg name="file_rviz" default="lcf"/>

    <arg name="gazebo_world" default="$(find thermal_mapping)/worlds/final.world"/>

    <include file="$(find summit_xl_gazebo)/launch/summit_xl_gazebo.launch">
        <arg name="launch_rviz" value="false"/>
        <arg name="gazebo_world" value="$(arg gazebo_world)"/>
    </include>

    <node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find thermal_mapping)/rviz/$(arg file_rviz).rviz"/>

    <remap to="/robot/robot_front_ptz_camera/image_raw" from="/camera/color/image_raw"/>
    <remap to="/robot/ouster/points" from="/velodyne_points"/>

    <param name="maxlen"          type="double" value="10.0" />    
    <param name="minlen"          type="double" value="0.0" />    
    <param name="max_ang_FOV"     type="double" value="2.7" />
    <param name="min_ang_FOV"     type="double" value="0.5" />
    <param name="pcTopic"         type="str"    value="/robot/ouster/points" />
    <param name="imgTopic"        type="str"    value="/robot/robot_front_ptz_camera/image_raw" />
    
    <param name="x_resolution"    type="double" value="0.25" />
    <param name="y_interpolation" type="double" value="10.0" />
    <param name="ang_Y_resolution"    type="double" value="2.05" />

    <group ns="matrix_file">
        <rosparam file="$(find thermal_mapping)/cfg/cfg_params.yaml" />
    </group>
    
    <node pkg="lidar_camera_fusion" type="lidar_camera_node" name="lidar_camera_node" output="screen"/>

    <include file="$(find hdl_graph_slam)/launch/hdl_graph_slam.launch">
        <arg name="points_topic" value="/robot/ouster/points" />
        <arg name="map_frame_id" value="map" />
        <arg name="lidar_odom_frame_id" value="robot_base_footprint" />
        <arg name="robot_odom_frame_id" value="robot_odom" />
    </include>
</launch>