<?xml version="1.0"?>
<launch>
<!-- Testing r3live-->
    <arg name="launch_rviz" default="true"/>
    <arg name="file_rviz" default="r3live"/>

    <arg name="gazebo_world" default="$(find thermal_mapping)/worlds/final.world"/>
	<arg name="default_xacro" default="summit_xl_std.urdf.xacro"/>

    <include file="$(find summit_xl_sim_bringup)/launch/summit_xl_complete.launch">
        <arg name="launch_rviz" value="true"/>
	    <!-- <arg name="gazebo_world" value="$(arg gazebo_world)"/>  -->
    </include>

    <node if="$(arg launch_rviz)" name="rviz_r3live" pkg="rviz" type="rviz" required="true" args="-d $(find thermal_mapping)/rviz/$(arg file_rviz).rviz" output="log"/>

    <node name="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" output="log">
        <remap from="/cloud_in" to="/robot/ouster/points"/>
    </node>

    <!-- <node if="$(arg launch_rviz)" name="rviz2" pkg="rviz" type="rviz" required="true" args="-d $(find thermal_mapping)/rviz/gmapping.rviz" output="log"/> -->

    <!-- R3live -->
    <remap from="/os_cloud_node/points" to="/robot/ouster/points"/>
    <param name="/LiDAR_pointcloud_topic" type="string" value= "/laser_cloud_flat" />
    <param name="/IMU_topic" type="string" value= "/robot/imu/data_raw" />
    <!-- <param name="/Image_topic" type="string" value= "/NotAvail" /> -->
    <param name="Image_topic" type="string" value= "/robot/robot_front_ptz_camera/image_raw"/>
    <!-- <param name="Image_topic" type="string" value="/robot/front_rgbd_camera/rgb/image_raw"/> -->
    <param name="map_output_dir" type="string" value="$(env HOME)/r3live_output" />
    <rosparam command="load" file="$(find r3live)/../config/r3live_config.yaml" />
    
    <!-- set LiDAR type as ouster-64 spining LiDAR -->
    <param name="/Lidar_front_end/lidar_type" type="int" value= "3" /> 
    <param name="/Lidar_front_end/point_step" type="int" value="1" />
    <param name="r3live_lio/lio_update_point_step" type="int" value="6" />
        
    <node pkg="r3live" type="r3live_LiDAR_front_end" name="r3live_LiDAR_front_end" required="true"/>
    <node pkg="r3live" type="r3live_mapping" name="r3live_mapping" required="true" />
    
</launch>