<?xml version="1.0"?>
<launch>
<!-- Testing lidar_camera_fusion + hdl_graph_slam -->
    <arg name="launch_rviz" default="true"/>
    <arg name="file_rviz" default="testing1"/>

    <arg name="gazebo_world" default="$(find summit_xl_gazebo)/worlds/summit_xl_office.world"/>
	<arg name="default_xacro" default="summit_xl_std.urdf.xacro"/>
    <arg name="omni_drive" default="false"/>
    <arg if="$(arg omni_drive)" name="ros_planar_move_plugin" value="true"/>
	<arg unless="$(arg omni_drive)" name="ros_planar_move_plugin" default="true"/>
    <arg name="ros_planar_move_plugin_force_based" default="false"/>
    

	<!-- arguments robot a -->
	<arg name="id_robot_a" default="robot"/>
	<arg name="launch_robot_a" default="true"/>
	<arg name="xacro_robot_a" default="$(arg default_xacro)"/>

    <!-- Remapping needed for lidar_camera_fusion -->
    <remap from="/robot/front_rgbd_camera/rgb/image_raw" to="/camera/color/image_raw"/>
    <remap from="/robot/ouster/points" to="/velodyne_points"/>
    <include file="$(find summit_xl_gazebo)/launch/summit_xl_gazebo.launch">
        <arg name="launch_rviz" value="false"/>
        <arg name="gazebo_world" value="$(find summit_xl_gazebo)/worlds/demo.world"/>
        <!-- general args -->
        <arg name="default_xacro" value="$(arg default_xacro)"/>
        <arg name="omni_drive" value="$(arg omni_drive)"/>
        <arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
		<arg name="ros_planar_move_plugin_force_based" value="$(arg ros_planar_move_plugin_force_based)" />
		<!-- robot_a args -->
		<arg name="id_robot_a" value="$(arg id_robot_a)"/>
		<arg name="launch_robot_a" value="$(arg launch_robot_a)"/>
		<arg name="xacro_robot_a" value="$(arg xacro_robot_a)"/>
    </include>

    <include file="$(find hdl_graph_slam)/launch/hdl_graph_slam.launch">
        <arg name="points_topic" value="/velodyne_points" />
        <arg name="map_frame_id" value="map" />
        <arg name="lidar_odom_frame_id" value="odom" />
        <arg name="robot_odom_frame_id" value="robot_odom" />
    </include>

    <include file="$(find lidar_camera_fusion)/launch/vlp16OnImg.launch"/>

    <node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find thermal_mapping)/rviz/$(arg file_rviz).rviz"/>

</launch>